@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet');

/* css reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    font-size: 10px;
    font-weight: 2000;
    padding: 5px 25px;
    border: none;
    border-radius: 15px;
}

.button-white {
    color: gray;
    background-color: white;
    box-shadow: 3px 3px 10px gray(0, 0, 0, 0.329);
}

nav.navbar {
    background-color: #088BB5;
}
nav.navbar > div.container {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
nav.navbar .title {
    display: flex;
    color: white;
}

nav.navbar .navigation a:not(:last-child) {
    margin-right: 50px;
    color: white;
}
nav.navbar .navigation a:not(.button):hover {
    border-bottom: 1px solid white;
}

section.bg {
    width: 80%;
    height: 659px;
    background-size: cover;
    margin: 0px auto;
}
.bg img{
    width: 100%;
    margin: auto;
}

/* flex */
.flex-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: palegoldenrod;
}
.kotak2{
    width: 80%;
    background-color: #E4E1E1;
    height: 20cm;
    margin: 0px auto;
    text-align: justify;
    padding: 10px;
}
.kotak{
    width: 80%;
    background-color: lightblue;
    height: 1.5cm;
    margin: 0px auto;
}
.kotak h1{
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    padding: auto;
}
.footer img {
    width: 1300px;
    margin right: 100px ;
    height: 300px;
}

